/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    background-color: #FFE5E5;
}
.poems-container {
    max-width: 600px; /* Limiter la largeur maximale */
    width: 100%; /* Réglage de la largeur à 100% pour les appareils mobiles */
    margin: 0 auto;
    text-align: left;
}
.poem {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
}
h1{
    text-align: center;
    font-size: 24px; /* Réduire la taille de la police pour les appareils mobiles */
    font-weight: bold;
    margin-bottom: 20px;
}
h2{
    text-align: center;
}

/* Media query pour les appareils de taille moyenne */
@media (max-width: 800px) {
    .poems-container {
        padding: 10px; /* Réduire le rembourrage pour un meilleur ajustement sur les appareils de taille moyenne */
    }
}
